{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'main_website/css/base-form.css' %}">
{% endblock %}

{% block content %}
<div class="pageColor">
<div class="container-fluid" id="">
  <div class="row">
    <div class = "formdiv">
    <form method="post">
      <h2 style = "font-family: 'Open Sans', sans-serif;">Edit Profile</h2>
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field | add_class:'form-control'}}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button style="background-color:#84C3F3; border-radius: 10px; padding: 12px 22px; font-size: 17px;" type="submit">Save Changes</button>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}
