{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "main_website/css/base-form.css" %}">
{% endblock %}

{% block content %}
<div class="signupform">
  <h3 class="signuptitle mb-4"> Share Shed Membership Application </h3>
  <form class="formBorder">
    <label>Name* </label>
    <div class="form-row mb-3">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" id="fname" placeholder="First Name" required>
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" id="lname" placeholder="Last Name" required>
      </div>
    </div>
    <div class="form-group">
      <label>Email & Password*</label>
      <input type="text" class="form-control" id="email" placeholder="your@email.com" required>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        <input type="password" class="form-control" id="password" placeholder="Password" required>
      </div>
      <div class="form-group col-md-6 mb-0">
        <input type="password" class="form-control" id="rpassword" placeholder="Repeat Password" required>
      </div>
      <small id="passwordHelpBlock" class="form-text text-muted ml-2 mb-3">
        Your password must be at least 6 characters long
      </small>
      <br><br>
    </div>
    <div class="form-group mb-4">
      <label>Phone Number*</label>
      <input type="tel" class="form-control" id="phone" placeholder="04xx xxx xxx" required>
    </div>
    <label>Address</label>
    <div class="form-group">
      <input type="text" class="form-control" id="inputAddress" placeholder="Street Address">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control"placeholder="City">
      </div>
      <div class="form-group col-md-6">
        <select id="inputState" class="form-control">
          <option selected>State</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-6 mb-4">
        <input type="text" class="form-control" id="inputZip" placeholder="Postcode">
      </div>
      <div class="form-group col-md-6 mb-4">
        <input type="text" class="form-control" id="inputCountry" placeholder="Country">
      </div>
      <div class="form-group">
			&nbsp;<label class="checkbox-inline"><input type="checkbox" required="required"> I have read and accepted the <a href="#">Terms and Conditions</a> &amp; <a href="#"> Liability Waiver</a>*</label>
		  </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block blueBtn" >Sign Up</button>
  </form>
</div>
<p class="textbottom">Already have an account? <button class="btn btn-link pt-0 mt--1 pb-0 pl-0 pr-0 linkbottom" onclick="document.getElementById('id01').style.display='block'">Login</button>
<br><br>
</div>

<!--Previous signupform

<div class="pageColor">
<div class="container-fluid" id="">
  <div class="row">
    <div class = "formdiv">
    <form method="post">
      <h2 style = "font-family: 'Open Sans', sans-serif;">Sign up</h2>
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field | add_class:'form-control'}}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button style="background-color:#84C3F3; border-radius: 10px; padding: 12px 22px; font-size: 17px;" type="submit">Sign up</button>
      </form>
    </div>
  </div>
</div>
</div> -->
{% endblock %}
