{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'loginSignUp/css/signup.css' %}"
{% endblock %}

{% block content %}
<div class="container-fluid" id="">
  <div class="row" id="wrap">
    <div class = "formdiv col-lg-9 col-sm-10 col-md-10 col-xs-12 col-md-offset-2">
    <form method="post">
      <h2 style = "font-family: 'Open Sans', sans-serif;">Sign up</h2>
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field | add_class:'form-control'}}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button style="background-color:#84C3F3; border-radius: 10px; padding: 12px 22px; font-size: 17px;" type="submit">Sign up</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
