<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

#btn{
    background-color:#84C3F3 !important;
    border-radius: 10px;
    padding: 12px 30px;
    font-size: 17px;
  }
#wrap{
  max-width: 80%;
  margin: 0 auto;
  }
  form {
	padding:10px 50px;
	border:1px solid blue;
	border-radius:2 px;
	background-color:#D7D7D7;
	max-width: 70%;
}
  input[type=text], input[type=password], input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: Quicksand;
    font-size: 17px;
  }
  label{
    font-size: 17px;
    font-family: Quicksand;
  }