{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
<link rel="stylesheet" type="text/css" href="{% block stylesheet_admin_page %}{% static "admin/css/admin.css" %}{% endblock %}">

{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}

{% block extrahead %}{% endblock %}
{% block responsive %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->


        {% block side-nav %}
        {% if has_permission %}
        <div class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link {% ifequal request.path '/admin/' %} active {% endifequal %}" href="/admin/">
                  <i class="fas fa-home navicon"></i> &nbsp;
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ site_url }}">
                  <i class="fas fa-desktop navicon"></i> &nbsp;
                  Member Site
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if '/admin/main_website/lending/' in request.path %} active {% endif %}" href="/admin/main_website/lending/">
                  <i class="fas fa-shopping-basket navicon"></i> &nbsp;
                  Loans
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if '/admin/main_website/lendinghistory/' in request.path %} active {% endif %}" href="/admin/main_website/lendinghistory/">
                  <i class="fas fa-history"></i> &nbsp;
                  Loan Histories
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if '/admin/main_website/product/' in request.path %} active {% endif %}" href="/admin/main_website/product/">
                  <i class="fas fa-box-open navicon"></i> &nbsp;
                  Items
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if '/admin/main_website/user/' in request.path %} active {% endif %}" href="/admin/main_website/user/">
                  <i class="fas fa-users navicon"></i> &nbsp;
                  Contacts/Members
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fas fa-chart-line navicon"></i> &nbsp;
                  Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if '/admin/main_website/openingday/' in request.path %} active {% endif %}" href="/admin/main_website/openingday/">
                  <i class="far fa-clock navicon"></i> &nbsp;
                  Opening Day
                </a>
              </li>
              {% if user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link {% if '/admin/auth/group/' in request.path %} active {% endif %}" href="/admin/auth/group/">
                  <i class="fas fa-address-card navicon"></i> &nbsp;
                  Permissions
                </a>
              </li>
              {% endif %}
              <li class="nav-item">
                <hr>

                <a href="{% url 'admin:logout' %}" class="nav-link">
                  <i class="fas fa-sign-out-alt navicon"></i> {% trans 'Log out' %}
                </a>
                <hr>
              </li>
            </ul>
          </div>
        </div>
        {% endif %}
        {% endblock %}

      <div class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow fixed-top" id="header">
        <div id="branding" class="navbar-brand col-sm-3 col-md-2 mr-0">
              <a  href="/admin/">Share Shed Admin</a>
        </div>
        {% block usertools %}
        {% if has_permission %}
        <div id="user-tools">
            <div id="welcome-user">
                {% block welcome-msg %}
                {% trans 'Welcome,' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>
                {% endblock %}
                {% block userlinks %}
                {% if user.has_usable_password %}
                / <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>
                {% endif %}
                {% endblock %}
            </div>
        </div>
        {% endif %}
        {% endblock %}
        {% block nav-global %}{% endblock %}
    </div>


    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-6-5 px-4">

        <!-- END Header -->

        {% endif %}

        {% block messages %}
            {% if messages %}
            <ul class="messagelist">{% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}</ul>
            {% endif %}
        {% endblock messages %}

        <!-- Content -->
        <div id="content" class="{% block coltype %}colM{% endblock %}">
            {% block pretitle %}{% endblock %}
            {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
            {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
            {% endblock %}
            {% block sidebar %}{% endblock %}
            <br class="clear">
        </div>
        <!-- END Content -->
    </main>

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
{% block extrascript %}{% endblock %}
</body>
</html>
