{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}


    {% block hero-image %}
      <div class="hero-image">
        <div class="hero-text">
          <img src="{% static 'main_website/img/icon-shareshed.png' %}" width="150px" class="mb-3">
          <p style=" text-shadow: 1px 1px grey;"> Share Shed is a Brisbane-based Library of Things where members can borrow all sorts of useful items for $80 a year. Whether you want to use a lawn mower, a bread maker, a tennis racquet or a disco ball, we want to share our catalogue with you.</p>
          {% if not user.is_authenticated %}

          <form action="{% url 'signup' %}" method="get">
              <button class="btn btn-outline-light my-2 my-sm-0" style=" text-shadow: 1px 1px black;" type="submit"> Sign up now! </button>
          </form>
          {% endif %}
        </div>
      </div>
    {% endblock %}


    {% block catalogue %}

      <div class="album py-5 bg-light">
          <div class="container">
            <h4 class="center-align"> Categories </h4>
            <br>
            <div class="row">
            {% for category in categories %}
              <div class="col-md-2">
                <a href="/catalogue/{{ category.id }}" style="color:black;text-decoration:none;">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="/media/{{ category.image }}" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text center-align"> {{ category.category_name }}</p>
                    </div>
                  </div>
                </a>

              </div>
            {% endfor %}
            <div class="col-md-2">
              <h5 class="pt-6 center-align"style="font-weight:normal;" ><a href="/catalogue" style="color:black;text-decoration:none;">See More &nbsp;<i class="fas fa-arrow-right"></i> </a></h4>
            </div>
          </div>
        </div>

        <div class="center-align" id="riskMatrix">
          <div class="container">
            <h4 class="pt-5"> Risk Matrix</h4>
            <h6>(What do the dots mean?)</h6>
            <br><br>
            <div class="row">
              <div class="col-md-4">
                <span class="greenDot mb-4" style="align:center"></span>
                <h5> GREEN </h5>
                <p>Low risk of injury</p>                              `
              </div>
              <div class="col-md-4">
                <span class="yellowDot mb-4"></span>
                <h5> YELLOW </h5>
                <p>Medium risk of injury</p>
              </div>
              <div class="col-md-4">
                <span class="redDot mb-4"></span>
                <h5> RED </h5>
                <p>High risk of injury</p>
              </div>
          </div>
          <br><br><br><br>
        </div>
    {% endblock %}

{% endblock %}
