{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}{{ products.name }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="{% static "main_website/css/catalogue.css" %}">
{% endblock %}

{% block content %}
<title>Item Details</title>
  </head>
  <body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="gallery">
                {% if products.main_image != null %}
                  <div class="previews"><a href="#" class="selected" data-full="../media/{{ products.main_image }}"><img src="../media/{{ products.main_image }}"/></a></div>
                {% else %}
                  <div class="previews"><a href="#" class="selected" data-full="{% static "main_website/img/icon-shareshed.png" %}"><img src="{% static "main_website/img/icon-shareshed.png" %}"/></a></div>
                {% endif %}
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <h2 class="item pb-3 itemTitle">{{ products.name }}</h2>
                <h5 class="item pb-3"><b>Fee:</b>&nbsp;${{ products.fee }} for {{ products.loan_period }} days</h5>
                {% if product.shown %}
                  <p><span class="badge badge-secondary badge-success">Available</span></p>
                {% else %}
                  <p><span class="badge badge-secondary badge-danger">Unavailable</span></p>
                {% endif %}
                <h5 class="item"><div class="row">
                  <div class="col-sm-2">
                    <ul class="item">
                      <li>Condition</li>
                      <li>Brand </li>
                      <li>Code</li>
                    </ul>
                  </div>
                  <div class="col-sm-6">
                    <ul class="item">
                      <li>: {{ products.condition }}</li>
                      <li>: {{ products.brand }}</li>
                      <li>: {{products.code}}</li>
                    </ul>
                  </div>
                </div></h5>
                <p><span class="badge badge-secondary">{{ products.tags }}</span>&nbsp;</p>
                <h5 class="item pb-2">{{ products.long_description }}</h5>
                {% if not user.is_authenticated %}
                <button class="blueBtn btn btn-sm" onclick="document.getElementById('id01').style.display='block'"> Log in to borrow or reserve </button>
                {% elif user.membership.membership_type == 'm' %}
                  <div>
                    <p style="color:red;">
                      {% for error in field.errors %}
                      {{error}}
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                      {{error}}
                      {% endfor %}
                      {{ message }}
                    </p>
                    <form method="POST" class="post-form" autocomplete="off">
                      {% csrf_token %}
                      <div class="container">
                        <div class="row">
                          <div class='col-lg-6'>
                              <div class="form-group">
                                <label for="From"><b>From:</b></label>
                                  <div class='input-group date' id='datetimepicker1'>
                                      <span class="input-group-append">
                                          <i class="far fa-calendar-alt"></i>
                                      </span>
                                      {% render_field form.start_date class="form-control" id="startdate" %}
                                      {% render_field form.start_date.errors %}
                                  </div>
                              </div>
                          </div>
                          <div class='col-lg-6'>
                              <div class="form-group">
                                <label for="To"><b>To:</b></label>
                                  <div class='input-group date' id='datetimepicker2'>
                                      <span class="input-group-append">
                                          <i class="far fa-calendar-alt"></i>
                                      </span>
                                      {% render_field form.end_date class="form-control" id="enddate" %}
                                      {% render_field form.end_date.errors %}
                                  </div>
                              </div>
                          </div>
                        </div>
                        <button type="submit" class="blueBtn btn btn-sm">Borrow</button>
                      </div>
                    </form>
                  </div>
                {% else %}
                  <p>
                    You need to become a member in order to borrow items
                  </p>
                {% endif %}
            </div>
        </div>
        <br><br>
      </div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="{% static "main_website/js/item-details.js" %}"></script>
{% endblock %}
