{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Activate account{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'main_website/css/loan_success.css' %}">
{% endblock %}

{% block content %}
<div class = "container-fluid">
  <div class = "row">
    <div class = "col-md-6 ml-5 mt-5" id = "centre">
      <i class="far fa-check-circle check"></i><h2>Your item has been reserved.</h2>
  </div>
  </div>
</div>
{% endblock %}
