.pall{
  padding-left: 0.9rem!important;
  padding-right: 0.6rem!important;
  padding-top: 0.6rem!important;
  padding-bottom: 0.6rem!important;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.card-body{
  padding-left: 0.6rem!important;
  padding-right: 0.6rem!important;
  padding-top: 0.6rem!important;
  padding-bottom: 0rem!important;
}
.card{
  border: none;
}
.yellowdot{
  height: 18px;
  width: 18px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
}
.reddot{
  height: 18px;
  width: 18px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.greendot{
  height: 18px;
  width: 18px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}
