.pall{
  padding-left: 0.9rem!important;
  padding-right: 0.6rem!important;
  padding-top: 0.6rem!important;
  padding-bottom: 0.6rem!important;
}
.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}

#html{
    overflow-x: hidden;
}

.card-body{
  padding-left: 0.6rem!important;
  padding-right: 0.6rem!important;
  padding-top: 0.6rem!important;
  padding-bottom: 0rem!important;
}
.card{
  border: none;
}
