{% extends 'base.html' %}

{% load static %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% block profile %}{% static "main_website/css/profile.css" %}{% endblock %}">
{% endblock %}

{% block title %}Profile{% endblock %}

{% block content %}


    {% if user.is_authenticated %}
    <div class="container">
        <div class="user-information">
            <div class="information-header">
                <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                <hr />
            </div>
            <div class="information-content">
                <p>
                    E-mail  : {{ user.email }}
                </p>
                <p>
                    Phone Number   : {{ user.telephone_num }}
                </p>
                </p>
                <p>
                    Address  : {{ user.address }}, {{ user.suburb }}, {{ user.suburb }}, {{ user.country }}
                </p>
                <p>
                    Post Code   : {{ user.postcode }}
                </p>
                <p>
                    Balance : ${{user.balance}}
                </p>
                <form action="{% url 'membership' %}" method="post">
                    {% csrf_token %}
                    <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key= 'pk_test_juvZMCiyaZxZjw2nulcmFC02'
                      data-amount="8000"
                      data-name="Share Shed"
                      data-description="Membership Subscription"
                      data-image="{% static "main_website/img/icon-shareshed.png" %}"
                      data-locale="auto"
                      data-label="Buy Membership"
                      data-currency="aud"
                      data-allow-remember-me="false">
                    </script>
                </form>
            </div>
            <a href="{% url 'update_profile'%}">Update Profile</a>
            <a href="{% url 'change_password' %}">Change Password</a>
        </div>

            <div class="user-information">
                <div class="information-header">
                    <h3>Top Up Credit</h3>
                    <hr>
                </div>
                <div class ="information-content">
                    <p>
                        <form id="myForm" action="{% url 'topup' %}" method="POST">
                            <input type="text" id="amountInDollars" />
                              <input type="hidden" id="stripeToken" name="stripeToken" />
                              <input type="hidden" id="stripeEmail" name="stripeEmail" />
                              <input type="hidden" id="amountInCents" name="amountInCents" />
                        </form>
                        <input type="button" id="customButton" value="Top Up Credit">
                    </p>
                </div>
            </div>

        {% if user.membership.membership_type == 'm' %}
            <div class="user-information">
                <div class="information-header">
                    <h3>Membership Status</h3>
                    <hr />
                </div>
                <div class="information-content">
                    <p>
                        Your membership will end at : {{ user.membership.end_time }}
                    </p>
                </div>
            </div>
        {% endif %}
        {% if not user.has_identified %}
        <p>
            You ID card has to be identified in order to become a member.
            Click <a href="{% url 'upload_identification' %}"> Here </a>To
            Upload your ID Card
        </p>
        {% else %}
        <form action="{% url 'membership' %}" method="post">
          {% csrf_token %}
        </form>
        {% endif %}

    </div>
    <p>
    </p>
    {% endif %}

{% endblock %}

{% block script %}

<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
    var handler = StripeCheckout.configure({
      key: 'pk_test_juvZMCiyaZxZjw2nulcmFC02',
      image: '{% static "main_website/img/icon-shareshed.png" %}',
      token: function(token) {
        $("#stripeToken").val(token.id);
        $("#stripeEmail").val(token.email);
        $("#amountInCents").val(Math.floor($("#amountInDollars").val() * 100));
        $("#myForm").submit();
      }
    });

    $('#customButton').on('click', function(e) {
      var amountInCents = Math.floor($("#amountInDollars").val() * 100);
      var displayAmount = parseFloat(Math.floor($("#amountInDollars").val() * 100) / 100).toFixed(2);
      // Open Checkout with further options
      handler.open({
        name: 'Share Shed',
        description: 'To Up amount ($' + displayAmount + ')',
        amount: amountInCents,
          allowRememberMe: false,
      });
      e.preventDefault();
    });

    // Close Checkout on page navigation
    $(window).on('popstate', function() {
      handler.close();
    });
</script>
{% endblock %}
